{% extends 'base.html' %}

{% block title %}Invalid Token{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Invalid Verification Link</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">The verification link is invalid or has expired. Please try signing up again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
