{% extends 'base.html' %}

{% block title %}Verification Sent{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Verification Email Sent</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">We have sent a verification email to your email address. Please check your inbox and click the link to complete your registration.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
