{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'core:dashboard' %}">
            <img src="{% static 'images/logo.png' %}" alt="Float Check Logo" width="30" height="30" class="d-inline-block align-top">
            Float Check
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:dashboard' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rec:reconciliation_list' %}">Reconciliation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rec:rule_builder' %}">Rule Builder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rec:exception_queue' %}">Exception Queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mpesa_p:pay' %}">Payment</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="{% url 'core:profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:signup' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
