{% extends 'base.html' %}

{% block title %}Pricing{% endblock %}

{% block content %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>

    <div class="row">
        {% for plan in pricing_plans %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm text-center">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ plan.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{ plan.price }} <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        {% for feature in plan.features.all %}
                        <li>{{ feature.name }}</li>
                        {% endfor %}
                    </ul>
                    <a href="/signup/" class="btn btn-lg btn-block btn-primary">Sign up</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
