<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total Reconciliations</h5>
            <p class="card-text">{{ total_reconciliations }}</p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Completed Reconciliations</h5>
            <p class="card-text">{{ completed_reconciliations }}</p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total Discrepancies</h5>
            <p class="card-text">{{ total_discrepancies }}</p>
        </div>
    </div>
</div>